#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/assets/*' do
end

compile %r{stylesheets/[^_].*} do
  filter :sass, syntax: :scss
end

# Don't filter partials
compile %r{stylesheets/_.*} do; end
compile '/CNAME/' do; end

compile '/admin/*/' do
  filter :erb
  filter :kramdown, input: 'GFM', hard_wrap: false
  filter :colorize_syntax, :colorizers => {:javascript => :pygmentsrb}
end

compile '/epd/*/' do
  filter :erb
  filter :kramdown, input: 'GFM', hard_wrap: false
  filter :colorize_syntax, :colorizers => {:javascript => :pygmentsrb}
end

compile '*' do
  filter :erb
  filter :kramdown, input: 'GFM', hard_wrap: false
  filter :add_sections
  filter :colorize_syntax, :colorizers => {:javascript => :pygmentsrb}
  layout item[:layout] || 'default'
end

route '/stylesheets/*/' do
  item.identifier.chop + '.css'
end

route '/assets/*' do
  item.identifier.chop
end

route '/CNAME/' do
  '/CNAME'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
