	<div id="footer" >
    <div class="lower_footer">
      <ul class="footer-cell">
      </ul>

      <span class="footer-cell">
      </span>

      <ul class="footer-cell">
        <li><a href="http://roqua.nl/contact">Contact</a></li>
        <li><a href="https://roqua.zendesk.com">Status</a></li>
        <li><a href="https://roqua.zendesk.com/forums/20271351-Announcements">Releasenotes</a></li>
      </ul>
    </div>

		<div class="wrapper">
			<p>Design &copy; <span class="js-year">2014</span> RoQua. Alle rechten voorbehouden. Tenzij anders aangegeven is de tekst op deze site gelicenceerd onder een <a href="http://creativecommons.org/licenses/by/3.0/nl/">Creative Commons CC-BY licentie</a>.<br>Met dank aan <a href="https://developer.github.com/">GitHub</a> voor hun CC-BY gelicenceerde repository die we als basis konden gebruiken.</p>
		</div>

  </div><!-- /#footer -->
