<%= render '_head' %>

<%
  # Autodiscover current section by traversing up the parent stack until we meet a parent
  # that has a short enough URL to be a section document
  @section = @item
  while @section.identifier.count("/") > 3
    @section = @section.parent
  end
%>


<body class="rom">
  <div id="wrapper">
    <div class="content">
      <p>
        We hebben al onze documentatie-sites samengevoegd en onder ons eigen domein gehost. U wordt binnen enkele seconden doorgestuurd naar <a href="http://docs.roqua.net<%= @item.identifier %>">http://docs.roqua.net<%= @item.identifier %></a>.
      </p>
    </div>
  </div><!-- #wrapper -->
</body>
</html>
