<%= render '_head' %>

<%
  # Autodiscover current section by traversing up the parent stack until we meet a parent
  # that has a short enough URL to be a section document
  @section = @item
  while @section.identifier.count("/") > 3
    @section = @section.parent
  end
%>


<body class="rom">
  <%= render '_header' %>

  <div class="sub-nav">
    <h2>
      <strong><%= @section[:title] %></strong>
      <%= ": #{@item[:title]}" if @item != @section %>
      <%= status_label(@item) %>
    </h2>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>

    <div id="js-sidebar" class="sidebar-shell">
      <div class="js-toggle-list sidebar-module expandable">
        <ul>
          <% @section.children.sort_by { |topic| topic[:sort] || 0 }.each do |topic| %>
            <% if topic.children.any? %>
              <li class="js-topic">
                <h3>
                  <a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a>
                  <a href="<%= topic.identifier %>"><%= topic[:title] %></a>
                </h3>
                <ul class="js-guides">
                  <% topic.children.sort_by {|guide| guide[:sort] || 0 }.each do |guide| %>
                    <li><a href="<%= guide.identifier %>"><%= guide[:title] %></a></li>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li>
                <h3><a href="<%= topic.identifier %>"><%= topic[:title] %></a></h3>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div> <!-- /sidebar-module -->
      <div class="sidebar-module notice">
        <p>This website is a <a href="https://github.com/roqua/playbook" target="_blank">private GitHub repository</a>. You can edit content over there.</p>
      </div>
    </div><!-- /sidebar-shell -->
  </div><!-- #wrapper -->

  <%= render '_footer' %>
</body>
</html>
