/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

#footer {
  position: relative;
  bottom:0;
  font-size:12px;
  color: #636363;
  margin: 0 auto;
  max-width: 980px;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .mega-icon {
  color: #ccc;
}

#footer .mega-icon:hover {
  color: #bbb;
  text-decoration: none;
}

.lower_footer {
  border-top: 1px solid #ddd;
  width: 100%;
  padding: 30px 0;
}

.footer-cell {
  display: table-cell;
  text-align: center;
  width: 10%;
  vertical-align: middle;
}

.footer-cell:first-child {
  text-align: left;
  padding-left: 0;
}

.footer-cell:last-child {
  text-align: right;
  padding-right: 0;
}

.footer-cell:last-child li {
  margin: 0 0 0 20px;
  padding-right: 0;
}

.footer-cell li {
  display: inline;
  margin-right: 20px;
  list-style: none;
}

#footer .wrapper {
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 20px 0;
}

/* end */
