/*------------------------------------------------------------------------------
     Header Styles
------------------------------------------------------------------------------*/

/* Fix linking to anchors inside the content (would fall underneath the navbar otherwise) */
.content *[id]:before {
  display: block;
  content: " ";
  margin-top: -59px;
  height: 59px;
  visibility: hidden;
}

#header-wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  clear: both;
  height: 59px;
  background: $header-background-color;
}

#header {
  /*margin: 0 auto;*/
  /*max-width: 980px;*/
  position: relative;
}

#header .logo {
  float: left;
  margin-top: 12px;
  display: inline-block;
  width: 229px;
  height: 35px;
  background: url(/assets/images/logo_developer.png) 0 0 no-repeat;
  text-indent: -999em;
}

#header .nav {
  position: absolute;
  right: 0;
  top: 20px;
  font-weight: bold;
  text-shadow: #333 1px 1px 0px;
  font-size: 14px;
}

#header .nav li {
  display: inline-block;
  margin: 0;
  list-style-type: none;
  line-height: 1.4em;
}

#header .nav a {
  color: #fff;
  outline: none;
  text-decoration: none;
  padding: 20px 11px 19px;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
}


#header .nav .active a {
  color: #F0F0CC;
  border-bottom: 3px solid #fff;
}

#header .nav a:hover {
  color: #F0F0CC;
}

.header-anchor {
  position: absolute;
  left: -32px;
  top: 0;
  opacity: 0;
  padding: 0 5px 0 10px;
  height: 100%;
  width: 20px;
  font: normal normal 16px/20px octiconsregular;
  color: #000;
  -webkit-font-smoothing: antialiased;
  color: #333;

  -webkit-transition: opacity 0.3s ease-in-out 0s;
  -moz-transition: opacity 0.3s ease-in-out 0s;
  -ms-transition: opacity 0.3s ease-in-out 0s;
}

h1 .header-anchor {
  line-height: 55px;
}

.content h1:hover .header-anchor, .content h2:hover .header-anchor, .content h3:hover .header-anchor, .content h4:hover .header-anchor, .header-anchor:hover {
  opacity: 1;
  text-decoration: none;
}

.header-anchor:before {
  content:'\f05c';
}

